
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Base styles */
html {
  font-size: 1.125em;
  line-height: 1.222em;
  padding: 0 1em;
  background-color: #759DB0;
}

h1, h2, h3, h4 {
  font-weight: bold;
  color: #EEF4F7;
}

h1{
  font-size: 2.25em;
  padding: .5em 0 0 0;
  line-height: 1em;
}

h2{
  font-size: 2.25em;
  padding: .5em 0;
  line-height: 1em;
}

img {
  display: block;
  max-width: 100%;
}

/* Text Format */

.degree {
  padding: .5em 0 0 0;
}

.dogtitle {
  padding: .5em 0;
}

ul.contactinfo{
  font-weight: bold;
  list-style: none;
  padding: 1em 0;
  color: #EEF4F7;
}

ul:not(.contactinfo){
  margin-left: .938em;
  list-style-type: disc!important;
}

.games {
  padding: 1em 0;
}

.dogcaption {
  text-align: center;
  padding: 1% 0;
}

/* Image Layout */
.couchpic {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}

/* navigation menu layout */
#links {
 display: none;
 list-style-type: none;
 background-color: #EEF4F7;
 margin: 0;
 padding: 0;
 overflow: hidden;
text-align: center;
}

#links a{
  display: inline;
  text-align: center;
  padding: 1%;
  color: black;
  text-decoration: none;
}

#links a:hover {
  background-color: #759DB0;
}

#menub {
  color: black;
  background-color: #EEF4F7;
  cursor: pointer;
  padding: 0.5% 1%;
}

/* dog gallery layout */
#gallery {
  display: none;
  flex-direction: row;
  padding: 5% 0;
  flex-wrap: wrap;
}

#dogfoot {
  padding: 2% 0 0 0;
}

#dogb {
  color: black;
  background-color: #EEF4F7;
  cursor: pointer;
  padding: 0.5% 1%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#dog1 {
  padding: 5% 0 0 0;
}

/* Media queries for different views */
@media screen and (min-width: 600px) {
  .couchpic {
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    width: 80%;
  }

  h1{
    text-align: center;
  }

  #links a{
    padding: 5%;
  }

#gallery {
  flex-direction: row;
  flex-wrap: wrap;
}

#sun {
  order: 1;
  height: 40%;
  width: 40%;
  padding: 1%;
}

#walk {
  order: 2;
  height: 40%;
  width: 40%;
  padding: 1%;
}

#stair {
  order: 3;
  height: 80%;
  width: 80%;
}

}

@media screen and (min-width: 1000px) {
.couchpic {
  height: 35%;
  width: 35%;
}

#links a{
  padding: 10.1%;
}

#dogb {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

#gallery{
  flex-wrap: nowrap;
}

#sun, #walk, #stair {
  height: 35%;
  width: 35%;
}

}
