
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

html {
  font-size: 1.125em;
  line-height: 1.222em;
  padding: 0 1em;
  background-color: #759DB0;
}

h1, h2, h3, h4 {
  font-weight: bold;
  color: #EEF4F7;
}

h1{
  font-size: 2.25em;
  padding: .5em 0 0 0;
  line-height: 1em;
}

h2{
  font-size: 2.25em;
  padding: .5em 0;
  line-height: 1em;
}

img {
  width: 80%;
  height: 80%;
  padding: 5% 0;
}

.couchpic {
  display: flex;
  flex-direction: column;
  padding: 0 0 .5em 0;
}

.degree {
  padding: .5em 0 0 0;
}

.dogtitle {
  padding: .5em 0;
}

ul.contactinfo{
  font-weight: bold;
  list-style: none;
  padding: 1em 0;
  color: #EEF4F7;
}

ul:not(.contactinfo){
  margin-left: .938em;
  list-style-type: disc!important;
}

.games {
  padding: 1em 0;
}

@media screen and (min-width: 600px) {
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1, h2, h3 {
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  html {
    text-align: center;
  }
}
